*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: rgb(93, 88, 85);
    color:white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    width: 600px;
    box-shadow: 2px 2px 20px rgb(0, 0, 0);
}

#top{
    display: flex;
    justify-content:center;
}
h1{
    font-size: 3rem;
}

#user{
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: start;
}

#userField{
    display: flex;
    justify-content:space-between;
}

#userInput{
    padding: 0.2 rem;
    width: 80%;
}

#search{
    padding: 0.4rem;
    border-radius: 5px;
    background-color: red;
    border: 1px groove red;
    color: white;
    transition: transform 0.3s ease;
}
#search:hover{
    /* border: 1px groove white; */
    transform: scale(1.05);
}

#progress{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 1px groove rgb(255, 169, 10);
    border-radius: 50%;
    /* background-color: rgb(57, 125, 71); */
    background: conic-gradient(rgb(0, 0, 0) var(--progress-degree, 40%), rgb(255, 0, 0) 1%);
}

.solved{
    height: 100px;
    width: 100px;
    border: 2px groove rgb(255, 169, 10);
    background-color: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 12px;
}

#cards{
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0rem 2rem;
}

#easy1{ background-color: rgb(16, 193, 0); }
#med1{ background-color: rgb(255, 115, 0); }
#hard1{ background-color: rgb(255, 0, 0); }

.detail {
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 1rem 1rem 1rem;
}

#total {
    height: 2rem;
    width: 15rem;
    border: 2px groove rgb(255, 169, 10);
    display: flex;
    background-color: red;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}

#rank {
    height: 2rem;
    width: 15rem;
    border: 2px groove rgb(255, 169, 10);
    background-color: red;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#myLink{ 
    display: none; 
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 6rem;
    border: 2px groove rgb(255, 169, 10);
    border-radius: 3px;;
    color: white;
    background-color: red;
    text-decoration: none;
}
.idd{
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem;
    transition: transform 0.3s ease;
}

.idd:hover{
    transform: scale(1.05);
}